{% extends 'BlogApp/index.html' %}
{% block title %} {{ blog.title }} {% endblock %}
{% block content %}
<span>
    <h4><a href="{% url 'index' %}">Home</a></h4>
</span>
<hr>
<div>
    <h4><strong> {{ blog.title }} </strong></h4>
    <p>
        {{ blog.desc }}
    </p>
</div>
<hr>

<div>
    <table>
        <tr>
            <td><strong>
                    başlama tarihi
            </strong></td>
            <td>
                {{ blog.start_datetime }}
            </td>
        </tr>
        <tr>
            <td><strong>
                    yayinlanma tarihi
            </strong></td>
            <td>
                {{ blog.publish_datetime }}
            </td>
        </tr>
    </table>
</div>
{% endblock %}