{% extends 'BlogApp/index.html' %}
{% load static %}
{% block title %} {{ blog.title }} {% endblock %}
{% block content %}
{% block css_files %}
        <link rel="stylesheet" href="{% static 'css/errors.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
<span>
    <h4><a href="{% url 'index' %}">Home</a></h4>
</span>
<hr>
<div>
    <form method="POST" novalidate>
        {% csrf_token %}

        <div class="{% if field.errors %} invalid {% endif %}">
            <div>
                <h4><strong> {{ blog.title }} </strong></h4>
                <p> {{ blog.desc }} </p>
                
            </div> silinmesini istiyor musunuz?
        </div>
        <hr>
        <button>SİL</button>
    </form>
</div>
{% endblock %}