{% extends 'blogapp/index.html' %}
{% load static %}
{% block title %} {{ blog.title }} {% endblock %}
{% block content %}
{% block css_files %}
        <link rel="stylesheet" href="{% static 'css/errors.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
<span>
    <h4><a href="{% url 'index' %}">Home</a></h4>
</span>
<hr>
<div>
    {% if error %}
    <span>
        <h4 style="background-color: rgba(190, 28, 0, 0.568);">
            <strong>{{ msg }}</strong>
        </h4>
    </span>
    {% endif %}

    <form action="{% url 'create_post' %}" method="POST" novalidate>
        {% csrf_token %}

        {% for field in form %}
        <div class="{% if field.errors %} invalid {% endif %}">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        <hr>
        {% endfor %}

        <button>Kaydet</button>
    </form>
</div>
{% endblock %}