{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    {% block css_files %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    -->
    {% block js_files %}
        <script src="{% static 'js/kapat.js' %}"></script>
    {% endblock %}
    <title>
        {% block title %} Anasayfa {% endblock %}
    </title>
</head>
<body>
        {% if user.is_authenticated %}
            <label for="username">username: </label>
            <label>{{ user.username }}</label>

            <a href="{% url 'user_logout' %}">user logout</a>
        
        {% if user.is_superuser %}
            <a href="admin/">admin</a>
            <a href="{% url 'create_post' %}">post yaz</a>
        {% endif %}
        <table>
            {% for blog in blogs %}
            <tr>
                <td>{{ blog.date }}</td>
                <td><a href="{% url 'content' blog.slug %}">{{ blog.title }}</a></td>
            {% if user.is_superuser %}
                <td>   
                    <a href="{% url 'delete_post' blog.slug %}">post sil</a>
                </td>
                <td>
                    <a href="{% url 'update_post' blog.slug %}">post güncelle</a>
                </td>
            {% endif %}
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <a href="{% url 'user_login' %}">user login</a>
        <a href="{% url 'user_register' %}">user register</a>

        <table>
            {% for blog in blogs %}
            <tr>
                <td>{{ blog.date }}</td>
                <td><a href="{% url 'content' blog.slug %}">{{ blog.title }}</a></td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}

    {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %} id="messageList">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>