table, tr, td{
    width: 50%;
    border: 1px dotted rgb(0, 128, 74);
    border-collapse: collapse;
    padding: 5px;
}

.image-container{
    text-align: center;
}

#alert{
    background-color: rgba(255, 0, 0, 0.610);
}