{% if page_obj.paginator.num_pages > 1 %}
<div>
    <ul>

        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">önceki</a></li>
        {% else %}
        <li>başka sayfa yok</li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page.obj.number == i %}
            <li>{{ i }}</li>
            {% else %}
            <li><a href="http://">{{ i }}</a></li>
            {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">sonraki</a></li>
        {% else %}
        <li>başka sayfa yok</li>
        {% endif %}
    </ul>
</div>
{% endif %}